body, html{
    height: 100%;
    margin: 0px;
    background-color: rgb(162, 234, 227)
}

nav li {
    display: inline;
    margin: 20px;
}
nav ul {
    background-color: rgb(102, 196, 234);
    margin: 0px;
    list-style-type: none;
    width: 100%;
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color:rgb(72, 38, 163);
    font-family: "Square Peg", cursive;
    font-size: 35px;
    text-align: center;
}

nav a{
    color: rgb(210, 117, 210);
    text-decoration: none;
}

nav a:hover{
    color: rgb(233, 233, 146);
}

.hero-image{
    background-image: linear-gradient(rgba(59, 148, 203, 0.5),rgba(15, 54, 15, 0.45)),url("../images/banfflake-14.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 45%;
    margin-top: 0px;
}

.hero-text{
    color: antiquewhite;
    text-align: center;
    font-family: 'Square Peg', cursive;
    font-size: 60px;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%)
    
}
.hero-text h1{
    font-size: 100px;
    text-shadow: 5px rgb(7, 7, 108);
}

.main{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    font-family: 'Tajawal', sans-serif;
    margin: 25px;
}

#main-dish{
    border: 2px dotted rgb(44, 44, 120);
    padding: 15px;
    box-sizing:border-box;
   
}

#dallas-img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 65%;
   padding: 10px;
   border-radius: 20px;

}

#side ul{
    list-style-type: none;
    text-align: center;
    margin: 0px;
}
#side a{
    text-decoration: none;
    color: rgb(210, 117, 210);
}
#side a:hover{
    color: rgb(233, 233, 146);
}
#profile-image{
    display: flex;
    align-items: center;
    width: 20%;
    border-radius: 70%;
    border: 5px solid;
}

.side-articles{
    display: flex;
    align-self: flex-start;
    height: 30%;
    padding: 20px;
    width: 40%;
}

.side-articles, .main-articles{
    background-color: rgb(137, 218, 218);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-family: 'Tajawal', sans-serif;

}
.main-articles{
    font-size: 25px;
    margin: 10px;
    padding: 15px;
    text-align: left;
    width: 45%;
    height: 65%;
    align-self: flex-start;
}

.main-articles h1{
    font-family: 'Square Peg', cursive;
    font-size: 50px;
    text-align: center;
}

.main-articles a{
    color:rgb(210, 117, 210);
    text-decoration: none;
}

.main-articles a:hover{
    color:rgb(233, 233, 146)
}

.main-articles ul{
    text-align: left;
}

#side-dish{
    border: 2px dotted rgb(44, 44, 120);
    padding: 15px;
    box-sizing:border-box;
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30%;

}

#side-dish h2{
    display:inline;
    font-family: 'Square Peg', cursive;
}

forms{
    align-self: center;
    margin-top: 20px;
}

textarea, input{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

#toppers{
    text-align: center;
    align-self: center;
}

#side-pics{
    width: 260px;
    padding: 5px;
    border-radius: 15px;
    align-items: center;
}

#pets{
    width: 50%;
    border: solid 3px;
    border-radius: 10px;
}

#hobbies-img{
    display: inline-flex;
    align-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.gallery{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;

}

footer{
    background-color: black;
    width: 100%;
    height: 5vh;
    margin-top: 0px;
}

footer div{
    color:antiquewhite;
    text-align:center;
}

footer hr{
    margin-top:0px;
    height: 12px;
    border: 0px;
    box-shadow: inset 0px 12px 12px white;
}

main{
    overflow:auto;

}